<ion-view >

  <ion-nav-title>{{mechOnWayViewTitle}}</ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="on_way">
            <!--<img src="img/cleansour_on_the_way_map.jpg"  alt="">-->
            <div id="on_way_map" data-tap-disabled="true" style="height:52vh"></div>

            <aside class="on_way_add_sec">
                <div class="map_sec_field">
                    <input placeholder="Address" disabled required="required" type="text" ng-model="cleanerData.customer_address">
                    <img src="img/address.png" alt="" class="left-txt-icons">
                    <img ng-hide="true" src="img/map-point-con.png" alt="" class="right-txt-icons">
                </div>

            </aside>

        </div>

        <div class="call_chat_sec">
            <aside class="figure-container">
                <figure class="profile-pic"> <img alt="" ng-src="{{profileImage}}" > </figure>

            </aside>
            <aside class="ratings">
                <i class="fa fa-star" ng-class="{'ratingYellow':cleanerFeedback.avg_rating >=1}" aria-hidden="true"></i>
                <i class="fa fa-star" ng-class="{'ratingYellow':cleanerFeedback.avg_rating >=2}" aria-hidden="true"></i>
                <i class="fa fa-star" ng-class="{'ratingYellow':cleanerFeedback.avg_rating >=3}" aria-hidden="true"></i>
                <i class="fa fa-star" ng-class="{'ratingYellow':cleanerFeedback.avg_rating >=4}" aria-hidden="true"></i>
                <i class="fa fa-star" ng-class="{'ratingYellow':cleanerFeedback.avg_rating >=5}" aria-hidden="true"></i>

            </aside>
            <div class="full">
                <div class="miles">  <span class="btns black_btn"> {{distance | miles}} </span>  </div>
                <div class="milesid" ng-click="showAppointment()">
                    <p style="text-align: center"> <span class="btns black_btn ">{{requestId}} </span> </p>
                </div>
                <div class="miles_right"> <span class="btns black_btn width-98"> {{duration | timeFilter}} </span> </div>

            </div>

            <aside class="btn_set"> <div class="half" ng-click="CallNumber()"> <span class="btns bdr_btn"> <i class="fa fa-phone" aria-hidden="true"></i>  Call </span> </div>
                <div class="half fr" ng-click="openChat()"> <span class="btns bdr_btn">  <i class="fa fa-commenting-o" aria-hidden="true"></i>  Chat </span> </div>  </aside>
            <div class="full" ng-click="showCancelRequestPopup()" ng-hide="mechOnWayViewTitle == 'Cleanosaur has arrived'"> <span class="btns pink_btn"> Cancel Request </span> </div>
        </div>
    </ion-content>
</ion-view>
