<ion-view title="Signing up to clean">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>

        <section class="bg-main">
            <div class="main">
                <aside class="sign_up_cleanosaur">
                    <p>
                        <strong>Sign Up Cleanosaur</strong>
                        Please click the button below to download the Cleanosaur Cleaner app. Here you can register for
                        a profile to start accepting requests and start making money as a cleaner.
                    </p>
                </aside>
                <aside class="logo_center">
                    <img src="img/cleaanosaur_app.png" width="50" height="50" alt="">
                </aside>
                <a class="item" href="#" ng-click="downloadCleaner()"
                   onclick="window.open('https://play.google.com/store/apps/details?id=com.app.cleanosaur', '_system', 'location=yes'); return false;">
                    <p><span class="btns pink_btn popup_rwr_btn"> Download Cleanosaur User App  </span></p></a>

            </div>
        </section>


    </ion-content>
</ion-view>