<ion-view title="Signing up to clean">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>

        <section class="bg-main">
            <div class="main">
                <aside class="sign_up_cleanosaur">
                    <p>
                        <strong>Sign Up Cleanosaur</strong>
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                        Scrambled it to make a type specimen book.
                    </p>
                </aside>
                <aside class="logo_center">
                    <img src="img/black_logo.png" width="207" height="53" alt="">
                </aside>
                <a class="item" href="#" onclick="window.open('https://play.google.com/store/apps/details?id=com.app.cleanosaur', '_system', 'location=yes'); return false;">
                    <p> <span class="btns pink_btn popup_rwr_btn"> Download Cleanosaur App  </span> </p></a>

            </div>
        </section>


    </ion-content>
</ion-view>