<ion-view title="About">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content ng-controller="AboutCtrl">
        <section class="bg-main">
            <div class="main">
                <ul class="list_section">
                    <li><a class="item" href="#"
                           onclick="window.open('https://play.google.com/store/apps/details?id=com.app.cleanosaur', '_system', 'location=yes'); return false;">
                        Rate us in Google Play </a></li>
                    <li><a class="item" href="#"
                           onclick="window.open('https://itunes.apple.com/in/genre/ios/id36?mt=8', '_system', 'location=yes'); return false;">
                        Rate us in Itunes</a></li>
                    <li><a class="item" href="#"
                           onclick="window.open('https://www.facebook.com/cleanosaurrawr/', '_system', 'location=yes'); return false;">Like
                        us on Facebook</a></li>
                    <li><a class="item" href="#"
                           onclick="window.open('https://www.youtube.com/channel/UCY_a1vkcYPx5eJTr4k1GrNg', '_system', 'location=yes'); return false;">Watch
                        us on YouTube</a></li>
                    <li >
                        <a class="item" href="#"
                           onclick="window.open('https://twitter.com/cleanosaur', '_system', 'location=yes'); return false;">Follow
                            us on Twitter</a></li>
                    <li ><a class="item" href="#"
                                                                onclick="window.open('https://www.instagram.com/cleanosaur/?hl=en', '_system', 'location=yes'); return false;">Follow
                        us on Instagram</a></li>
                    <li >
                        <a class="item" href="#"
                           onclick="window.open('https://play.google.com/store/apps/details?id=com.app.cleanosaur', '_system', 'location=yes'); return false;">Follow
                            us on Snapchat</a></li>
                    <li ng-click="openTnC()">
                        <a class="item">Terms
                            and Conditions</a></li>
                    <li >
                        <a class="item" href="#"
                           onclick="window.open('www.cleanosaur.com', '_system', 'location=yes'); return false;">Visit
                            Our Website</a></li>
                </ul>
            </div>
        </section>

    </ion-content>
</ion-view>