<ion-view title="About">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>
    </ion-nav-buttons>
    <ion-content ng-controller="AboutCtrl">
        <section class="bg-main">
            <div class="main">
                <ul class="list_section">
                    <li ng-click="showAlert('Coming soon.')"> Rate us in Google Play </li>
                    <li ng-click="showAlert('Coming soon.')"> Rate us in Itunes </li>
                    <li ng-click="showAlert('Coming soon.')"> Like us on Facebook </li>
                    <li ng-click="showAlert('Coming soon.')"> Watch us on YouTube </li>
                    <li ng-click="showAlert('Coming soon.')"> Follow us on Twitter </li>
                    <li ng-click="showAlert('Coming soon.')"> Follow us on Instagram </li>
                    <li ng-click="showAlert('Coming soon.')"> Follow us on Snapchat </li>
                    <li ng-click="showAlert('Coming soon.')"> Terms and Conditions </li>
                    <li ng-click="showAlert('Coming soon.')"> Visit Our Website </li>
                </ul>
            </div>
        </section>

    </ion-content>
</ion-view>