<ion-view title="About">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content ng-controller="AboutCtrl">
        <section class="bg-main">
            <div class="main">
                <ul class="list_section">
                    <li ng-click="rateOnGooglePlay()"> Rate us in Google Play </li>
                    <li ng-click="rateOnITune()"> Rate us in Itunes</li>
                    <li ng-click="likeOnFacebook()">Like us on Facebook</li>
                    <li ng-click="watchOnYoutube()">Watch us on YouTube</li>
                    <li ng-click="followOnTwitter()"> Follow us on Twitter</li>
                    <li ng-click="followOnInstagram()">Follow us on Instagram</li>
                    <li ng-hide="true"> Follow us on Snapchat</li>
                    <li ng-click="openTnC()">Terms and Conditions</li>
                    <li ng-click="visitOurWebsite()"> Visit Our Website</li>
                </ul>
            </div>
        </section>

    </ion-content>
</ion-view>
