<div class="request_sent_popup req_can" style="height:420px;">
    <div>  <h2>Cancel Request</h2> </div>
    <div>
        <form>
            <ul>
                <li> <input type="radio" name="can_req_opt" ng-model="cancelRequestData.cancel_status" ng-value="1"> Cleanosaur Reach Was Very Late. </li>
                <li> <input type="radio" name="can_req_opt" ng-model="cancelRequestData.cancel_status" ng-value="2"> No contact with Cleanosaur. </li>
                <li> <input type="radio" name="can_req_opt" ng-model="cancelRequestData.cancel_status" ng-value="3"> Cleanosaur requests to cancel. </li>
                <li> <input type="radio" name="can_req_opt" ng-model="cancelRequestData.cancel_status" ng-value="4"> Customer Requests to cancel. </li>
                <li> <input type="radio" name="can_req_opt" ng-model="cancelRequestData.cancel_status" ng-value="5"> Changed Mind. </li>
                <li> <input type="radio" name="can_req_opt" ng-model="cancelRequestData.cancel_status" ng-value="6"> Other Reason. </li>
                <li><textarea rows="3" placeholder="Explain Reason" ng-model="cancelRequestData.explain_reason"></textarea></li>
            </ul>
        </form>
    </div>
    <div class="full"> <span class="btns pink_btn" ng-click="cancelRequest()"> Submit </span> </div>
</div>
