<div class="request_sent_popup req_can" style="height:420px;">
    <div>  <h2>Cancel Request</h2> </div>
    <div>
        <form>
            <ul>
                <li> <input type="radio" name="can_req_opt"> Cleanosaur Reach Was Very Late. </li>
                <li> <input type="radio" name="can_req_opt"> No contact with Cleanosaur. </li>
                <li> <input type="radio" name="can_req_opt"> Cleanosaur requests to cancel. </li>
                <li> <input type="radio" name="can_req_opt"> Customer Requests to cancel. </li>
                <li> <input type="radio" name="can_req_opt"> Changed Mind. </li>
                <li> <input type="radio" name="can_req_opt"> Other Reason. </li>
                <li><textarea rows="3" placeholder="Explain Reason"></textarea></li>
            </ul>
        </form>
    </div>
    <div class="full"> <span class="btns pink_btn"> Submit </span> </div>
</div>
