<div style="text-align: center;" ng-controller="ReqAcptCtrl">
    <aside>
        <p>Your Request has been accepted by <br> <strong>{{payload.userFName}} {{payload.userLName}}</strong></p>

    </aside>
    <aside class="figure-container">
        <figure class="profile-pic"><img alt="" src="img/user-photo.png" ng-src="{{cleaner_profile_pic}}" width="50" height="50"></figure>

    </aside>
    <aside class="ratings">
        <i class="fa fa-star" ng-class="{'ratingYellow':cleaner_avg_rating >=1}" aria-hidden="true"></i>
        <i class="fa fa-star" ng-class="{'ratingYellow':cleaner_avg_rating >=2}" aria-hidden="true"></i>
        <i class="fa fa-star" ng-class="{'ratingYellow':cleaner_avg_rating >=3}" aria-hidden="true"></i>
        <i class="fa fa-star" ng-class="{'ratingYellow':cleaner_avg_rating >=4}" aria-hidden="true"></i>
        <i class="fa fa-star" ng-class="{'ratingYellow':cleaner_avg_rating >=5}" aria-hidden="true"></i>

    </aside>
    <aside class="view_profile">
        <p ng-click="viewMechProfile()"><span> <u>View Cleanosaur’s Profile</u> </span></p>

    </aside>

    <aside class="view_vdo_btn" ng-click="openVideoPlayer()"><span> Nice to Meet You</span></aside>


    <aside ng-click="launchMechOnWay()"><p><span class="btns pink_btn popup_rwr_btn">  FRESH!  </span></p></aside>

</div>
