<section class="overlay_bg">

    <div class="message_popup hgt_large">
        <div class="message_popup_head"> Message Alert <span class="cross_popup" ng-click="closeVideoPopup()">  <i
                class="fa fa-times-circle" aria-hidden="true"></i>   </span></div>
        <div class="message_pop_btn_set">
            <div class="popup_btns_sec"><span class="btns black_btn" ng-click="captureVideo()"> Take Video</span></div>
            <div class="popup_btns_sec"><span class="btns black_btn" ng-click="chooseVideo()">Choose Video</span></div>
            <div class="popup_btns_sec"><span class="btns black_btn" ng-click="showVideo()">Show my video</span></div>
        </div>
    </div>

</section>
