<ion-view title="Edit Notifications">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content ng-controller="AboutCtrl">
        <section class="bg-main">
            <div class="main">
                <section class="notification_sec">
                    <p> <input name="can_req_opt" type="radio" id="txtmessage"> <label for="txtmessage"> Text Message</label>  </p>
                    <p> <input name="can_req_opt" type="radio" id="notification"> <label for="notification"> Notification</label>  </p>
                </section>

                <div class="full"> <span class="btns pink_btn"> Save </span> </div>
            </div>
        </section>

    </ion-content>
</ion-view>
