<ion-view title="Settings">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <aside class="setting_sec_figure_container">
            <figure class="setting_pic"><img alt="" src="img/mark.jpg" height="70" width="70"></figure>
        </aside>


        <div class="layout_sec">

            <aside class="setting_sec">
                <div class="half"><span class="full"> <strong>First Name </strong> </span> <span> Mark </span></div>
                <div class="half"><span class="full"> <strong>Last Name</strong> </span> <span> Allan </span></div>
            </aside>
            <aside class="setting_sec">
                <ul class="setting_list">
                    <li><span>Email</span> mark@gmail.com</li>
                    <li><span>Mobile</span> 51651656516</li>
                </ul>
            </aside>

            <aside class="setting_sec">
                <ul class="setting_list">
                    <li><span>Place</span></li>
                    <li><span class="half edit_seting">Home Address</span> <span class="half edit_seting"><input
                            placeholder="75 Bennett, NY" required="required" type="text">  <img src="img/edit-icon.png"
                                                                                                alt=""
                                                                                                class="edit-icon"></span>
                    </li>
                    <li><span class="half edit_seting"> Office Address </span> <span class="half edit_seting"><input
                            placeholder="2491 Victory Blvd, NY" required="required" type="text"> <img
                            src="img/edit-icon.png" alt="" class="edit-icon"></span></li>

                </ul>
            </aside>


            <aside class="setting_sec">
                <ul class="setting_list">
                    <li><span> Emergency Contact</span> 65421565487</li>
                </ul>
            </aside>


            <ul class="list_section">
                <li> Suggest Invites</li>
                <li>Edit Notifications</li>
            </ul>
        </div>
    </ion-content>
</ion-view>