<ion-view title="Notifications">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>

        <section class="bg-main">
            <div class="main">
                <section class="notifi-main">
                    <div class="notifi-img-sec"><img src="img/notification-img1.jpg" width="250" height="180" alt="">
                    </div>
                    <div class="notifi-des-sec"><p><strong>20% Off</strong> Lorem Ipsum has been the industry's standard
                        dummy text ever.</p></div>
                </section>

                <section class="notifi-main">
                    <div class="notifi-img-sec"><img src="img/notification-img2.jpg" width="250" height="180" alt="">
                    </div>
                    <div class="notifi-des-sec"><p><strong>15% Off</strong> Lorem Ipsum has been the industry's standard
                        dummy text ever.</p></div>
                </section>


                <section class="notifi-main">
                    <div class="notifi-img-sec"><img src="img/notification-img3.jpg" width="250" height="180" alt="">
                    </div>
                    <div class="notifi-des-sec"><p><strong>23% Off</strong> Lorem Ipsum has been the industry's standard
                        dummy text ever.</p></div>
                </section>


            </div>
        </section>

    </ion-content>
</ion-view>


