<ion-view>
    <ion-content>
        <section class="bg-main">
            <div class="main">
                <aside class="figure-container">
                    <figure class="profile-pic"><img alt="" src="img/user-photo.png" width="50" height="50"></figure>
                    <figcaption class="user-detail"> Mark Allean</figcaption>
                </aside>
                <aside class="ratings">
                    <span> <i class="fa fa-star" aria-hidden="true"></i> </span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span> <i class="fa fa-star" aria-hidden="true"></i></span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>

                </aside>
                <aside class="request_sec">
                    <ul>
                        <li><span> 70%</span> requests accepted</li>
                        <li><span> 30%</span> cleans canceled</li>
                        <li><span> 3.0 </span> Current Rating</li>
                    </ul>
                </aside>

                <aside class="view_vdo_btn"><span> View 10 secs introduction video </span></aside>
                <aside class="profile_about">
                    <h3>About Him</h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever took.</p>
                </aside>
                <section class="photos_sec">
                    <h3>Photos</h3>
                    <div class="full">
                        <aside class="half"><img src="img/scr-7-img1.jpg" width="800" height="400" alt=""></aside>
                        <aside class="half fr"><img src="img/scr-7-img2.jpg" width="800" height="400" alt=""></aside>
                    </div>
                    <div class="full">
                        <aside class="half"><img src="img/scr-7-img3.jpg" width="800" height="400" alt=""></aside>
                        <aside class="half fr"><img src="img/scr-7-img4.jpg" width="800" height="400" alt=""></aside>
                    </div>
                </section>
                <div class="main">
                    <aside class="profile_details">
                        <ul>
                            <li> <strong>Date Of Birth  </strong> - 14/11/1984 </li>
                            <li><strong>Email  </strong> - john@gmail.com </li>
                            <li><strong> Phone No </strong> - 5414516161</li>
                            <li><strong>Car Model </strong> - SNF123 </li>
                            <li><strong> Car Make </strong> -  Honda </li>
                            <li> <strong>City </strong> - Newyork </li>
                            <li> <strong>State </strong> - New Jersey </li>
                            <li> <strong>Zip</strong>12546 </li>
                            <li><strong>Country </strong> - USA </li>
                            <li> <strong>I AM: </strong> - Friendly </li>
                            <li> <strong> Average Clean Time - </strong>  1:35 Hrs  </li>
                        </ul>
                    </aside>

                </div>

                <aside class="btn_set"> <div class="full"> <span class="btns pink_btn">  RAWR!  </span> </div> </aside>
            </div>
        </section>
    </ion-content>
</ion-view>