<ion-view title="Forgot Password">
    <ion-content>

        <section class="bg-sec customer-forgot-bg">
            <div class="main">
                <div class="space_top">
                    <form method="" action="" name="">
                        <div class="forms_login">
                            <ul>
                                <li> <input type="text" placeholder="Email" required="required" , ng-model="forgotPasswordDetails.email">
                                    <img src="img/email.png" alt="" class="textbox_icons email"> </li>
                            </ul>
                        </div>
                        <aside class="btn_set mar0">
                            <div class="full" ng-click="forgotPassword()"> <span class="btns pink_btn"> Submit </span> </div>
                        </aside>
                        <aside class="forgot-pass-sec"> Already have an account? <a href="#" class="forgot_login" ui-sref="login">  Login </a> </aside>

                    </form>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>