<ion-view title="Request Details">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content ng-controller="ReqCtrl" ng-init="reloadData(1)">
        <section class="bg-main">
            <div class="main">
                <form method="" action="" name="">
                    <div class="forms_login requeset_detail">
                        <ul>
                            <li>
                                <label> Property Type </label>
                                <span>  <select ng-model="requestDetail.property_type_id">
                                    <option value="1">Home</option>
                                    <option value="2">Apartment</option>
                                    <option value="3">Short Term Rental</option>
                                    <option value="4">Office</option>
                                     </select>
                                </span>
                            </li>

                            <li>
                                <label> Select Style </label>
                                <span>  <select ng-model="requestDetail.clean_style_id">
                                    <option value="1">Standard Clean</option>
                                    <option value="2">Deep Clean</option>
                                </select>
                                </span>
                            </li>
                            <li>
                                <label> Bedrooms </label>
                                <span>  <select ng-model="requestDetail.bedroom">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="No">No</option>
                                     </select>
                                </span>
                            </li>
                            <li>
                                <label> Bathrooms </label>
                                <span>  <select ng-model="requestDetail.bathroom">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="No">No</option>
                                     </select>
                                </span>
                            </li>
                            <li>
                                <label> Kitchens </label>
                                <span>  <select ng-model="requestDetail.kitchen">

                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="No">No</option>
                                     </select>
                                </span>
                            </li>
                            <li>
                                <label> Living Rooms </label>
                                <span>  <select ng-model="requestDetail.living_rooms">

                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="No">No</option>
                                     </select>
                                </span>
                            </li>

                            <li>
                                <label> Extra Rooms (Offices, laundry,dining rooms) </label>
                                <span>  <select ng-model="requestDetail.extra_rooms">

                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="No">No</option>
                                     </select>
                                </span>
                            </li>
                            <li>
                                <label> Request Details </label>
                                <textarea rows="3" placeholder="" required="required" type="text"
                                          ng-model="requestDetail.work_order_details"> </textarea>
                            </li>

                            <label> Select Date </label>
                            <li>
                                <input type="date" placeholder="Select date" ng-model="date" min="{{currentTime}}"/>
                                <img src="img/cal.png" alt="" class="right-txt-icons" ng-hide="clearIcon">
                            </li>

                            <label> Select Time </label>
                            <li>
                                <input type="time" placeholder="Select Time" ng-model="time">
                                <img src="img/time.png" alt="" class="right-txt-icons" ng-hide="clearIcon">
                            </li>

                            <li>
                                <label> Do you have coupon code? </label>
                                <span class="third-one"> <input type="text" placeholder="Enter Coupon Code"
                                                                required="required" class="ac-input"
                                                                ng-model="requestDetail.coupon_code"> </span> <span
                                    class="one-forth btns black_btn" ng-click="checkPromoCode(requestDetail.coupon_code)"> Apply </span>
                            </li>

                            <li>
                                <label> Set Price </label>
                                <input placeholder="$" required="required" type="text"
                                       ng-model="requestDetail.confirm_price">
                            </li>

                            <li ng-hide="true">
                                <label> Your location </label>
                                <input placeholder="Search Location." ng-model="requestDetail.address"
                                       required="required" type="text"
                                       ng-change="getPlacePredictions(requestDetail.address)"
                                       ng-focus="showCurrentIcon = false; clearIcon = true"
                                       ng-blur="showCurrentIcon = true; clearIcon = false">
                                <img src="img/map-point-con.png" alt="" class="right-txt-icons" ng-hide="clearIcon">
                                <img src="img/cancel_icon.png" ng-hide="showCurrentIcon" ng-click="clearAll()"
                                     class="right-txt-icons">
                                <div ng-show="predictions.length > 0" class="address_bar">

                                    <div class="list location-results-list">
                                        <a ng-repeat="prediction in predictions"
                                           class="item item-icon-left location-item"
                                           ng-click="selectSearchResult(prediction)">
                                            <i class="icon ion-location"></i>
                                            <h3 class="location-name">{{prediction.terms[0].value}}</h3>
                                            <span class="location-desc">{{prediction.description}}</span>
                                        </a>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <aside class="btn_set mar0">
                        <div class="full"><span class="btns pink_btn" ng-click="sendRequest()"> Confirm </span></div>
                    </aside>
                </form>
            </div>
        </section>

    </ion-content>
</ion-view>