<ion-view title="Chatting" hide-back-button="true">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-android-call" ng-click="CallCustomer()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-content class="content-stable"
                     on-swipe-left="hideTime = false"
                     on-swipe-right="hideTime = true">

            <section class="chatting_sec">
                <aside ng-class="{right_comment: message.userType == '1'}" ng-repeat="message in messages">
                    <div class="chat_txt_sec">

                        <div class="chat_img_sec" ng-class="{'slide-right': hideTime, '': !hideTime}">
                            <img src="img/smith.jpg" ng-src="{{message.profile_pic}}" alt="" width="120" height="140">
                        </div>
                        <p><span> {{message.fname}} {{message.lname}} </span> {{ message.text}} </p>


                        <!--<div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>-->


                    </div>
                </aside>
            </section>
        </ion-content>

        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">

          <!--<div emoji-form emoji-message="emojiMessage">
            <textarea id="messageInput" ng-model="emojiMessage.messagetext"></textarea>

            <button id="emojibtn">
              <i class="icon icon-emoji"></i>
            </button>
          </div>-->
            <aside class="chat_footer">
                <div class="footer_txt_sec">
                    <div class="footer_txt_sec">
                        <div class="fifteen send"><img src="img/smile.png" width="20" height="20" alt="" ng-hide="true"></div>
                        <div class="seventy"><input type="text" placeholder="Type your message" class="footer_input"
                                                    on-return="sendMessage();closeKeyboard()"
                                                    ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()">
                        </div>
                        <div class="fifteen send" ng-click="sendMessage()"><img src="img/send.png" width="22"
                                                                                height="19" alt=""></div>
                    </div>
                </div>
            </aside>
            </div>
            </aside>
        </ion-footer-bar>
    </ion-content>
</ion-view>
