<ion-view title="Change Password" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>

        <section class="bg-sec forgot-pass-bg">
            <div class="main">
                <div class="space_top">
                    <form method="" action="" name="">
                        <div class="forms_login">
                            <ul>
                                <li> <input type="password" placeholder="Current Password" ng-model="password.oldpassword" required="required">
                                    <img src="img/password.png" alt="" class="textbox_icons">
                                </li>
                                <li> <input type="password" placeholder="New Password" ng-model="password.newpassword" required="required">
                                    <img src="img/password.png" alt="" class="textbox_icons">
                                </li>
                                <li> <input type="password" placeholder="Confirm New Password" ng-model="password.confirmpassword" required="required">
                                    <img src="img/password.png" alt="" class="textbox_icons">
                                </li>
                            </ul>
                        </div>
                        <aside class="btn_set mar0">
                            <div class="full" ng-click="resetPasswd()"> <span class="btns pink_btn"> Submit </span> </div>
                        </aside>
                    </form>
                </div>
            </div>
        </section>
        <!--<label class="item item-input">
            <i class="icon ion-ios-person-outline placeholder-icon"></i>
            <input type="text" placeholder="Email" ng-model="account.user.email">
         </label>
         <button class="button button-block">Register</button>
         <label>
            <p>Already have an acccount? <a href="www.google.com"><u>Login</u></a></p>
            </label>-->
    </ion-content>
</ion-view>