<ion-view title="Profile" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content ng-controller="ProfileCtrl">

        <section class="bg-main">
            <div class="main">
                <aside class="figure-container">
                    <figure class="profile-pic"><img alt="" ng-click="showPopup(0)" src="img/user_pic.png" width="70"
                                                     height="70" ng-src="{{profile_pic}}"></figure>

                </aside>
                <aside class="ratings">
                    <span> <i class="fa fa-star" aria-hidden="true"></i> </span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span> <i class="fa fa-star" aria-hidden="true"></i></span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>

                </aside>
                <aside class="view_vdo_btn" ng-click="videoChooser()"><span> Nice to Meet You</span></aside>

                <aside class="request_sec">
                    <ul>
                        <li><span> 0%</span> requests accepted</li>
                        <li><span> 0%</span> cleans canceled</li>
                        <li><span> 0.0 </span> Current Rating</li>
                    </ul>
                </aside>

                <div class="forms_login myprofile_edit_form">
                    <ul>
                        <li><input placeholder="First Name" required="required" type="text"
                                   ng-model="profileDetails.first_name">
                            <img src="img/user.png" alt="" class="textbox_icons"> <img src="img/edit-icon.png" alt=""
                                                                                       class="edit-icon">
                        </li>
                        <li><input placeholder="Last Name" required="required" type="text"
                                   ng-model="profileDetails.last_name">
                            <img src="img/user.png" alt="" class="textbox_icons"> <img src="img/edit-icon.png" alt=""
                                                                                       class="edit-icon">
                        </li>
                        <li class="profile_name"> About you <img src="img/edit-icon.png" alt="" class="edit-icon"></li>
                        <li><textarea rows="3" placeholder="Describe yourself"
                                      ng-model="profileDetails.about_your_description"></textarea></li>

                    </ul>


                </div>


                <section class="photos_sec upload_photo">
                    <h3>Upload Photos</h3>
                    <div class="full">
                        <aside class="half" ng-click="showPopup(1)"><img  height="186px" src="img/home1.jpg" ng-src="{{firstImage}}"
                                                                         alt=""> <span
                                class="up_icon"> <img src="img/upload-icon.png" width="20"
                                                      height="20" alt=""></span></aside>
                        <aside class="half fr" ng-click="showPopup(2)"><img width="271" height="186" src="img/home2.jpg" ng-src="{{secondImage}}"
                                                                            alt=""> <span
                                class="up_icon"> <img src="img/upload-icon.png" width="20"
                                                      height="20" alt=""></span></aside>
                    </div>
                    <div class="full">
                        <aside class="half" ng-click="showPopup(3)"><img width="271" height="186" src="img/home3.jpg" ng-src="{{thirdImage}}"
                                                                         alt=""> <span
                                class="up_icon"> <img src="img/upload-icon.png" width="20"
                                                      height="20" alt=""></span></aside>
                        <aside class="half fr" ng-click="showPopup(4)"><img width="271" height="186" src="img/home4.jpg" ng-src="{{fourthImage}}"
                                                                            alt=""> <span
                                class="up_icon"> <img src="img/upload-icon.png" width="20"
                                                      height="20" alt=""></span></aside>
                    </div>
                </section>
            </div>

            <div class="forms_login myprofile_edit_form">
                <ul>


                    <li class="profile_edit_dob" ng-hide="true">
                        <label> <strong>Date of Birth</strong> </label>
                        <span class="one-third">
                                    <select ng-model="profileDetails.day">
                                        <option ng-repeat="day in dropDownData.dates" value="{{day}}">{{day}}</option>
                                     </select>
                                </span>
                        <span class="one-third">
                                    <select ng-model="profileDetails.month">
                                    <option ng-repeat="month in dropDownData.months"
                                            value="{{month}}">{{month}}</option>
                                     </select>
                                </span>
                        <span class="one-third">
                                    <select ng-model="profileDetails.year"> <option
                                            ng-repeat="year in dropDownData.years"
                                            value="{{year}}">{{year}}</option> </select>
                                </span>

                    </li>
                    <li><input placeholder="email" required="required" type="text" ng-model="profileDetails.email"
                               ng-disabled="true">
                        <img src="img/email.png" alt="" class="textbox_icons email">
                        <img src="img/edit-icon.png" alt="" class="edit-icon">
                    </li>
                    <li><input placeholder="phone no" required="required" type="text" ng-model="profileDetails.mobile"
                               id='mobile' ng-disabled="enableInput.mobile">
                        <img src="img/phone.png" alt="" class="textbox_icons phone">
                        <img src="img/edit-icon.png" alt="" class="edit-icon" ng-click="editField('phone')">
                    </li>
                    <li ng-hide="true"><input placeholder="Address" required="required" type="text" ng-model="profileDetails.address"
                               ng-focus="showCurrentIcon = false; clearIcon = true"
                               ng-blur="showCurrentIcon = true; clearIcon = false"
                               ng-change="getPlacePredictions(profileDetails.address)" ng-disabled="enableInput.address"
                               id="address">
                        <img src="img/address.png" alt="" class="textbox_icons">
                        <img src="img/cancel_icon.png" ng-hide="showCurrentIcon" ng-click="profileDetails.address = ''"
                             class="right-txt-icons">
                        <img src="img/edit-icon.png" alt="" ng-hide="clearIcon" class="edit-icon"
                             ng-click="editField('address')">
                        <div ng-show="predictions.length > 0" class="address_bar">

                            <div class="list location-results-list">
                                <a ng-repeat="prediction in predictions"
                                   class="item item-icon-left location-item"
                                   ng-click="selectSearchResult(prediction)">
                                    <i class="icon ion-location"></i>
                                    <h3 class="location-name">{{prediction.terms[0].value}}</h3>
                                    <span class="location-desc">{{prediction.description}}</span>
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>

            <aside class="gender_edit_sec"><strong>I AM</strong> :
                <input type="radio" ng-model="profileDetails.reference_mode" name="i_am" ng-value="'friendly'"
                       ng-checked="profileDetails.reference_mode=='friendly'">Friendly
                <input type="radio" ng-model="profileDetails.reference_mode" name="i_am" ng-value="'mean'"
                       ng-checked="profileDetails.reference_mode=='mean'">
                <label for="mean"> Mean </label></aside>

            <aside class="btn_set mar0">
                <div class="full" ng-click="updateProfile()"><span class="btns pink_btn"> Save </span></div>
            </aside>
        </section>
    </ion-content>
</ion-view>
