<ion-view title="My Booking">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <section class="bg-main">
            <div class="main">

                <aside class="my_booking_sec" ng-repeat="appointment in appointmentArray">
                    <div class="history_left">
                        <ul>
                            <li> Request ID - {{appointment.app_appointment_id}} </li>
                            <li> {{appointment.property_type_id | property}}</li>
                            <li> <span> {{appointment.appointment_date}} </span>  <span> Clean Time - 1:30 Hr </span> </li>
                        </ul>
                    </div>

                    <div class="history_right_track">
                        <aside class="ratings">
                            <span class="btns pink_btn track_btn" ng-click="trackAppointment(appointment.app_appointment_id)">  Track  </span>

                        </aside>
                        <span class="status_text">{{getStatus(appointment.status)}}</span>
                    </div>
                </aside>


            </form>
            </div>

        </section>
    </ion-content>
</ion-view>